.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_center{
    text-align: center;
}

.sentence_case{
   text-transform: none;
}

.small_case{
   text-transform: lowercase; 
}

.upper_case{
   text-transform: uppercase; 
}

.inline_flex{
    display: inline-flex;
}

.float_none{
    float: none;
}

.bold{
    font-weight: 600;
    font-style: italic;
}

.red{
    color: red;
}
/* .flex-direction{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .j_c_center{
    justify-content: center;
} */